node_modules
dist
.env
.DS_Store
config.php
installed.lock
storage/
uploads/*
!uploads/.gitkeep
!uploads/menu/
!uploads/menu/.gitkeep
!uploads/logo/
!uploads/logo/.gitkeep
!uploads/hero/
!uploads/hero/.gitkeep
!uploads/textures/
!uploads/textures/.gitkeep
!uploads/models/
!uploads/models/.gitkeep
